@font-face {
font-family:'Myanmar3';
src:local('Myanmar3'), url('fonts/myanmar3.woff') format('woff'), url('fonts/myanmar3.ttf') format('ttf');
}

@font-face {
font-family:'Yunghkio';
src:local('Yunghkio'), url('fonts/yunghkio.woff') format('woff'), url('fonts/yunghkio.ttf') format('ttf');
}

@font-face {
font-family:'Padauk';
src:local('Padauk'), url('fonts/padauk.woff') format('woff'), url('fonts/padauk.ttf') format('ttf');
}

@font-face {
font-family:'';
src:local(''), url('fonts/mon3.woff') format('woff'), url('fonts/mon3.ttf') format('ttf');
}

@font-face {
font-family:'Zawgyi-One';
src:local('Zawgyi-One'), url('fonts/zawgyi.woff') format('woff'), url('fonts/zawgyi.ttf') format('ttf');
}

.yunghkio {
    font-family:"Masterpiece Uni Sans",Yunghkio;
    font-size:13px;
}
.myanmar3 {
    font-family:"Masterpiece Uni Sans",Myanmar3;
    font-size:13px;
}
.padauk {
    font-family:"Masterpiece Uni Sans",Padauk;
    font-size:18px;
}
.zawgyi {
    font-family:Zawgyi-One;
}
.parabaik {
    font-family:"Masterpiece Uni Sans",Parabaik;
    font-size:16px;
}